<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="18c51ef3-dd79-4a64-becd-57b154655210" Publisher="CN=eeristi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Windows_ASSN</DisplayName>
    <PublisherDisplayName>eeristi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Windows_ASSN.App">
      <VisualElements DisplayName="Windows_ASSN" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Windows_ASSN" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>